/* 全局样式上下留空 */
html,
body {
  margin: 100px auto;
}

/* 标题居中 */
h1 {
  text-align: center;
}

.modal-body label {
  width: 60px;
}

.modal-body p {
  margin-bottom: 0;
}

/* 表格底部加边框 */
table {
  border-bottom: 1px solid #dee2e6;
}

/* 文本垂直居中 */
.table th,
.table td {
  vertical-align: middle !important;
}

/* 列表按钮宽度 */
tr button {
  width: 40px;
}

/* 限定轻量提示框的位置 */
#handleCurdToast {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 200px;
}

/* 限定分页组件输入框大小 */
nav .pagination .page-item input {
  width: 45px;
  text-align: center;
}

/* 去除input number类型的加减符号 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}